# 01. Load raw CSV files

Export from BQ via 
1. Do query (all rows)
1. Export to Drive
1. Download from Drive
1. Rename to `{date}-{BQtablename}.csv`
1. Import to VS Code

Files for fermliving
- `{date}_fermliving_googleads_campaign_stats.csv`
- `{date}_fermliving_facebook_ad_stats.csv`
- `{date}_fermliving_shopify_order_analytics.csv`

02. Load CSV files into Dataframes and optionally process

In [1]:
import pandas as pd
import datautil as du

%load_ext autoreload
%autoreload 2

In [23]:
files = du.FILES
df_fb = du.get_engineered_file('facebook')
df_google = du.get_engineered_file('google')
df_shopify = du.get_engineered_file('shopify')

In [24]:
all = du.get_collected_dataframe()
all

          date  spend_fb  spend_google        sales
460 2023-09-13   1044.52  17731.458630  125087.3010
461 2023-09-14    746.37  15614.170441  142865.4874
462 2023-09-15      0.00  11892.922135  200679.1577
463 2023-09-16      0.00  10958.380107  120231.9569
464 2023-09-17      0.00  14914.932425  166163.5059
..         ...       ...           ...          ...
734 2024-06-13   2246.65   9830.102830  138940.4181
735 2024-06-14   1800.17   8567.536965  112737.8706
736 2024-06-15   1568.74   8591.481302   45777.2313
737 2024-06-16   1796.70   7997.541684  124594.8181
738 2024-06-17   1425.55   8632.884442  113466.3129

[279 rows x 4 columns]

In [19]:
all.dtypes

date            datetime64[ns]
spend_fb               float64
spend_google           float64
dtype: object